name: CI/CD Flask
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Recuperer le code
        uses: actions/checkout@v3
      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Installer les dependances
        run: pip install flask pytest

      - name: Tester lapp
        run: pytest test_app.py
